* {
    --Night: #393D3F;
    --Amaranth: #FDFDFF;
    --Tomato: #C6C5B9;
    --Saffron: #62929E;
    --Moonstone: #546A7B;
}

/* All Conent */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: var(--Moonstone);
    font-size: 3rem;
    padding-top: 20px;
}

/* All container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    gap: 10px;
    height: 100%;
    background-color: var(--Moonstone);
}

/* In Play */

.in-play {
    display: flex;
    position: absolute;
    align-self: center;
    gap: 40px;
    top: 17vh;
}

.in-play h2 {
    border: #393D3F 2px solid;
    padding: 10px;
    background-color: var(--Tomato);
    border-radius: 1vh;
}

/* Form */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px 30px;
    border-radius: 1vh;
    gap: 10px;
    background-color: var(--Amaranth);
    border: black 2px solid;
    height: max-content;
    width: max-content;
    font-size: 1.3rem;
    box-shadow: 5px 5px 10px var(--Saffron);
}

.form-container.active {
    visibility: hidden;
}

.player-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input::placeholder {
    color: var(--Night);
}

input {
    height: max-content;
    background-color: var(--Amaranth);
    border: none;
    color: var(--Night);    
    border-bottom: black 3px solid;
    font-size: 1.2rem;
}

input:focus {
    border-bottom: var(--Saffron) 3px solid;
    color: var(--Night);
    outline: none;
}

#display-btn {
    color: var(--Tomato);
    background-color: var(--Night);
    height: 60px;
    width: 100px;
    font-size: 1.2rem;
    font-style:italic;
}


/* Game Board */
.game-board {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    align-self: center;
    top: 50%; transform: translate(0%, -50%);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--Tomato);
    border-radius: 6px;
    height: 100px;
    width: 100px;
    font-size: 2rem;
    color: var(--Amaranth);
    background-color: var(--Night);
}

/* Winner Display */
.winner-display {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    align-items: center;
    align-self: center;
    justify-content: center;
    border: 1px solid black;
    background-color: var(--Saffron);
    font-size: 1.2rem;
    top: 50%; transform: translate(0%, -50%);
    scale: .1;
}

.winner-display.active {
    visibility: visible;
    border: var(--Night) 2px solid;
    padding: 20px;
    background-color: var(--Saffron);
    color: var(--Amaranth);
    border-radius: 1vw;
    align-self: center;
    justify-content: center;
    top: 50%; transform: translate(0, -50%);
    position: absolute;
    transition: 1s;
    scale: 1;
    box-shadow: 8px 8px 5px var(--Night);
}

#restart-btn {
    background-color: var(--Saffron);
    font-size: 1.2rem;
}

/* Footer */
footer {
    display: flex;
    margin-top: auto;
    height: 7vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Night);
    color: white;
}
