* {
    --Night: #0C090D;
    --Amaranth: #E01A4F;
    --Tomato: #F15946;
    --Saffron: #F9C22E;
    --Moonstone: #53B3CB;
}

/* All Conent */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: var(--Moonstone);
    font-size: 3rem;
}

/* Form */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.form-container {
    padding: 0px 10px 0px 10px;
    gap: 10px;
}

.player-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    height: max-content;
}

/* Game Board */
.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 10vh;
    width: 10vw;
}

/* Winner Display */
.winner-display {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.winner-display.active {
    visibility: visible;
    border: var(--Moonstone) 2px solid;
    padding: 20px;
    background-color: var(--Amaranth);
    color: white;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%; transform: translate(-50%, -50%);
}

/* Footer */
footer {
    display: flex;
    margin-top: auto;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Saffron);
}