body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 10vh;
    width: 10vw;
}